@import "tailwindcss";

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333333%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-33.333333%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes ticker-vertical-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

.animate-ticker-up {
  animation: ticker-vertical-up 20s linear infinite;
}

.animate-ticker-up-slow {
  animation: ticker-vertical-up 28s linear infinite;
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animate-shrink {
  animation: shrink 3s linear infinite;
}

